<div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body text-left">
                        <h2>Wikipedia design proposal</h2>
                        <hr class="star-primary">
                        <p>
                        <h5>Info</h5>
                        This project is based on an university group assignment in cooperation with Wikimedia Sweden. The project took place between February and March 2015.
                        <h5>Background</h5>
                        Wikipedia has a few main issues. A decreasing number of editors, little diversity (> 80% male), “female” topics are covered less than “male” topics, reluctance to changes by core-users and in addittion to that, only a few readers/"normal users" are interested in becoming contributors.
                        <h5>Challenge</h5>
                        Develop a proposal that is based upon a firm consideration of its consequences, including ethical, for Wikipedia and the society as a whole.
                        <h5>Role</h5>
                        UX Designer, Interaction Designer and Visual Designer
                        <h5>Approach</h5>
                        Individually we did research about the problems that Wikipedia is facing. Together we discussed our findings and analyzed surveys. We identified accessibility as the main aspect we have to focus on in order to attract a wider and more diverse group of people. Only one of us edited Wikipedia before the project. So we tried editing Wikipedia ourselves and we were able to confirm our research findings. We created a list of requirements that we needed to work on in order to improve the accessibility. Based on these requirements we started to design our version of Wikipedia. Due to given time constraints, our main focus were the main page, the article page, the talk page, the history page and the user page.
                        </p>
                        <img src="img/portfolio/wiki_sketches.jpg" class="img-responsive img-centered" alt="sketches">
                        <p class="portfolio-caption">Sketches based on requirements.</p>
                        <img src="img/portfolio/wiki_mockups.jpg" class="img-responsive img-centered" alt="sketches">
                        <p class="portfolio-caption">Wireframes based on sketches, created with Balsamiq.</p>
                        <ul class="list-inline item-details">
                            <li>Client:
                                <strong><a href="http://startbootstrap.com">{{ post.client }}</a>
                                </strong>
                            </li>
                            <li>Date:
                                <strong><a href="http://startbootstrap.com">{{ post.project-date }}</a>
                                </strong>
                            </li>
                            <li>Service:
                                <strong><a href="http://startbootstrap.com">{{ post.category }}</a>
                                </strong>
                            </li>
                        </ul>
                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>